<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WCF物流管理系统_Client.Properties.Settings.广信软件物流管理系统WCF版ConnectionString" connectionString="Data Source=(local);Initial Catalog=广信软件物流管理系统WCF版;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng" maxReceivedMessageSize="99999999" />
        <binding name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai" />
        <binding name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update" maxReceivedMessageSize="99999999" />
        <binding name="BLL物流管理系统.出车登记.FRM_ChuCheDengJi" />
        <binding name="BLL物流管理系统.出车登记.FRM_DaoDaDengJi" />
        <binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi"
          maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert"
          maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update"
          maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_DingDanGuanLi_Update" />
        <binding name="BLL物流管理系统.订单管理.DingDanGuanLi_Insert" />
        <binding name="BasicHttpBinding_BLL_YongHuQuanXian" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_YongHuQuanXian_Insert" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_YongHuQuanXian_Update" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_XuanZheQuanXianZu" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_QuanXianZu" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_QuanXianZu_Insert" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_QuanXianZu_Update" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_authCheck" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_FRM_SiJiGuanLi" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_FRM_SiJiGuanLi_Insert" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_FRM_XuanZheJiGou" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_BLL_FRM_SiJiGuanLi_Update" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_DingDanGuanLi" />
        <binding name="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert" />
        <binding name="BasicHttpBinding_PeiZaiFaHuo_ShiShiPeiZai" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_PeiZaiFaHuoPeiZai" maxReceivedMessageSize="999999999" />
        <binding name="BasicHttpBinding_PeiZaiFaHuoPeiZai_Update" maxReceivedMessageSize="999999999" />
        <binding name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao" />
        <binding name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update" />
        <binding name="BLL物流管理系统.Login" maxReceivedMessageSize="999999999" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9998/BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng"
        contract="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng.FRM_YuanGongGongZuoZheng"
        name="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PeiZaiFaHuo_ShiShiPeiZai"
        contract="BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai.PeiZaiFaHuo_ShiShiPeiZai"
        name="BasicHttpBinding_PeiZaiFaHuo_ShiShiPeiZai" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PeiZaiFaHuoPeiZai_Update"
        contract="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Update.PeiZaiFaHuoPeiZai_Update"
        name="BasicHttpBinding_PeiZaiFaHuoPeiZai_Update" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_FRM_SiJiGuanLi"
        contract="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi.BLL_FRM_SiJiGuanLi"
        name="BasicHttpBinding_BLL_FRM_SiJiGuanLi" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_FRM_SiJiGuanLi_Insert"
        contract="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Insert.BLL_FRM_SiJiGuanLi_Insert"
        name="BasicHttpBinding_BLL_FRM_SiJiGuanLi_Insert" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_FRM_SiJiGuanLi_Update"
        contract="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Update.BLL_FRM_SiJiGuanLi_Update"
        name="BasicHttpBinding_BLL_FRM_SiJiGuanLi_Update" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.司机管理.BLL_FRM_XuanZheJiGou.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_FRM_XuanZheJiGou"
        contract="BLL物流管理系统.司机管理.BLL_FRM_XuanZheJiGou.BLL_FRM_XuanZheJiGou"
        name="BasicHttpBinding_BLL_FRM_XuanZheJiGou" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.线路管理.FRM_XianLuGuanLi"
        contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi.FRM_XianLuGuanLi"
        name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert"
        contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert.FRM_XianLuGuanLi_Insert"
        name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update"
        contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update.FRM_XianLuGuanLi_Update"
        name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi"
        contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi.FRM_XianLuGuanLi_WangDianGuanLi"
        name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert"
        contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert.FRM_XianLuGuanLi_WangDianGuanLi_Insert"
        name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update"
        contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update.FRM_XianLuGuanLi_WangDianGuanLi_Update"
        name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_QuanXianZu"
        contract="BLL物流管理系统.用户权限管理.BLL_QuanXianZu.BLL_QuanXianZu" name="BasicHttpBinding_BLL_QuanXianZu" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_QuanXianZu_Insert"
        contract="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Insert.BLL_QuanXianZu_Insert"
        name="BasicHttpBinding_BLL_QuanXianZu_Insert" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_QuanXianZu_Update"
        contract="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update.BLL_QuanXianZu_Update"
        name="BasicHttpBinding_BLL_QuanXianZu_Update" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_XuanZheQuanXianZu.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_XuanZheQuanXianZu"
        contract="BLL物流管理系统.用户权限管理.BLL_XuanZheQuanXianZu.BLL_XuanZheQuanXianZu"
        name="BasicHttpBinding_BLL_XuanZheQuanXianZu" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_YongHuQuanXian"
        contract="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian.BLL_YongHuQuanXian"
        name="BasicHttpBinding_BLL_YongHuQuanXian" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_YongHuQuanXian_Insert"
        contract="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Insert.BLL_YongHuQuanXian_Insert"
        name="BasicHttpBinding_BLL_YongHuQuanXian_Insert" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_YongHuQuanXian_Update"
        contract="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Update.BLL_YongHuQuanXian_Update"
        name="BasicHttpBinding_BLL_YongHuQuanXian_Update" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.Login.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.Login"
        contract="BLL物流管理系统.Login.Login" name="BLL物流管理系统.Login" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan"
        contract="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan.FRM_BaoBiaoDingDanLiuLan"
        name="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.报表统计.FRM_DingDanBaoBiao.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao"
        contract="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao.FRM_DingDanBaoBiao"
        name="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi"
        contract="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi.FRM_ShenHeHuoPinTongJi"
        name="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi" />
      <endpoint address="http://localhost:9998/BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi"
        contract="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi.FRM_YeWuYuanYeJi"
        name="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E9%85%8D%E8%BD%BD%E5%8F%91%E8%B4%A7.PeiZaiFaHuoPeiZai_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert"
        contract="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert.PeiZaiFaHuoPeiZai_Insert"
        name="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E9%85%8D%E8%BD%BD%E5%8F%91%E8%B4%A7.PeiZaiFaHuoPeiZai.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PeiZaiFaHuoPeiZai"
        contract="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai.PeiZaiFaHuoPeiZai"
        name="BasicHttpBinding_PeiZaiFaHuoPeiZai" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E7%94%A8%E6%88%B7%E6%9D%83%E9%99%90%E7%AE%A1%E7%90%86.BLL_authCheck.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLL_authCheck"
        contract="BLL物流管理系统.用户权限管理.BLL_authCheck.BLL_authCheck" name="BasicHttpBinding_BLL_authCheck" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E8%BD%A6%E8%BE%86%E7%8A%B6%E6%80%81.FRM_CheLiangZhuangTai.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai"
        contract="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai.FRM_CheLiangZhuangTai"
        name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E8%BD%A6%E8%BE%86%E7%8A%B6%E6%80%81.FRM_CheLiangZhuangTai_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert"
        contract="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert.FRM_CheLiangZhuangTai_Insert"
        name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E8%BD%A6%E8%BE%86%E7%8A%B6%E6%80%81.FRM_CheLiangZhuangTai_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update"
        contract="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update.FRM_CheLiangZhuangTai_Update"
        name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E9%85%8D%E8%BD%BD%E5%8F%91%E8%B4%A7.FRM_PeiZaiFaHuoFenBao.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao"
        contract="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao.FRM_PeiZaiFaHuoFenBao"
        name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E9%85%8D%E8%BD%BD%E5%8F%91%E8%B4%A7.FRM_PeiZaiFaHuoFenBao_Update.SVC"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update"
        contract="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update.FRM_PeiZaiFaHuoFenBao_Update"
        name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E8%AE%A2%E5%8D%95%E7%AE%A1%E7%90%86.DingDanGuanLi.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DingDanGuanLi"
        contract="BLL物流管理系统.订单管理.DingDanGuanLi.DingDanGuanLi" name="BasicHttpBinding_DingDanGuanLi" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E8%AE%A2%E5%8D%95%E7%AE%A1%E7%90%86.DingDanGuanLi_Insert.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.订单管理.DingDanGuanLi_Insert"
        contract="BLL物流管理系统.订单管理.DingDanGuanLi_Insert.DingDanGuanLi_Insert"
        name="BLL物流管理系统.订单管理.DingDanGuanLi_Insert" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E8%AE%A2%E5%8D%95%E7%AE%A1%E7%90%86.DingDanGuanLi_Update.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DingDanGuanLi_Update"
        contract="BLL物流管理系统.订单管理.DingDanGuanLi_Update.DingDanGuanLi_Update"
        name="BasicHttpBinding_DingDanGuanLi_Update" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E5%87%BA%E8%BD%A6%E7%99%BB%E8%AE%B0.FRM_ChuCheDengJi.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.出车登记.FRM_ChuCheDengJi"
        contract="BLL物流管理系统.出车登记.FRM_ChuCheDengJi.FRM_ChuCheDengJi"
        name="BLL物流管理系统.出车登记.FRM_ChuCheDengJi" />
      <endpoint address="http://localhost:9998/BLL%E7%89%A9%E6%B5%81%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.%E5%87%BA%E8%BD%A6%E7%99%BB%E8%AE%B0.FRM_DaoDaDengJi.svc"
        binding="basicHttpBinding" bindingConfiguration="BLL物流管理系统.出车登记.FRM_DaoDaDengJi"
        contract="BLL物流管理系统.出车登记.FRM_DaoDaDengJi.FRM_DaoDaDengJi" name="BLL物流管理系统.出车登记.FRM_DaoDaDengJi" />
    </client>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!--	使用 .NET Framework 4 版 激活策略 -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
